/* line 1, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
.breadcam_bg {
    background-image: url(../../assets/img/banner/bradcam.png);
  }
  
  /* line 4, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .breadcam_bg_1 {
    background-image: url(../../assets/img/banner/bradcam2.png);
  }
  
  /* line 7, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .breadcam_bg_2 {
    background-image: url(../../assets/img/banner/bradcam2.png);
  }
  
  /* line 10, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .bradcam_area {
    background-size: cover;
    background-position: center center;
    height: 400px;
    background-repeat: no-repeat;
  }
  
  /* line 15, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .bradcam_area.overlay::before {
    background: #3CC78F;
    opacity: .8;
  }
  
  /* line 19, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .bradcam_area h3 {
    font-size: 50px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  
  @media (max-width: 767px) {
    /* line 19, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
    .bradcam_area h3 {
      font-size: 35px;
    }
  }
  
  /* line 29, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .bradcam_area p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
  }
  
  /* line 34, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .bradcam_area p a {
    color: #fff;
  }
  
  /* line 36, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .bradcam_area p a:hover {
    color: #fff;
  }
  
  /* line 43, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box {
    background: #fff;
    display: inline-block;
    z-index: 9;
    width: 681px;
    padding: 60px 40px;
  }
  
  @media (max-width: 767px) {
    /* line 43, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
    .popup_box {
      padding: 40px 25px;
    }
  }
  
  /* line 52, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box h3 {
    font-size: 50px;
    color: #222222;
    font-weight: 100;
    line-height: 50px;
    margin-bottom: 50px;
  }
  
  /* line 58, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box h3 span {
    font-weight: 600;
    display: block;
  }
  
  @media (max-width: 767px) {
    /* line 52, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
    .popup_box h3 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }
  
  /* line 68, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box .boxed-btn3 {
    width: 100%;
    text-transform: capitalize;
  }
  
  /* line 72, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box input {
    width: 100%;
    height: 60px;
    border: 1px solid #b7b7b7;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* line 80, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box input::placeholder {
    color: #c4c4c4;
    font-weight: 400;
    font-size: 16px;
  }
  
  /* line 85, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box input:focus {
    outline: none;
    border-color: #24c0f1;
  }
  
  /* line 90, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box .nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #b7b7b7;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Yeseva One", cursive;
    font-weight: normal;
    width: 100% !important;
    /* height: 42px; */
    line-height: 60px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    border-radius: 0;
    margin-bottom: 20px;
    height: 60px !important;
    font-size: 16px;
    font-weight: 400;
    color: #919191;
    border-radius: 5px;
    white-space: normal;
  }
  
  /* line 126, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box .nice-select::after {
    content: "\e64b";
    display: block;
    height: 5px;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    right: 17px;
    top: 3px;
    transition: all 0.15s ease-in-out;
    width: 5px;
    font-family: 'themify';
    color: #939393;
    font-size: 16px;
    right: 40px;
  }
  
  /* line 142, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    height: 200px;
    overflow-y: scroll;
  }
  
  /* line 151, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box .nice-select.list {
    height: 200px;
    overflow-y: scroll;
  }
  
  /* line 155, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .popup_box .nice-select:focus {
    outline: none;
    border-color: #24c0f1;
  }
  
  /* line 161, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  #test-form {
    display: inline-block;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  /* line 169, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  #test-form .mfp-close-btn-in .mfp-close {
    color: #333;
    display: none !important;
  }
  
  /* line 174, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  #test-form button.mfp-close {
    display: none !important;
  }
  
  /* line 179, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #000000;
    opacity: .7;
  }
  
  /* line 190, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .gj-picker-md div[role="navigator"] div:first-child, .gj-picker-md div[role="navigator"] div:last-child {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #000;
    border: 1px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  /* line 198, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .gj-picker-md div[role="navigator"] div:first-child i, .gj-picker-md div[role="navigator"] div:last-child i {
    font-size: 16px;
    line-height: 42px;
    position: relative;
    top: -1px;
  }
  
  /* line 204, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .gj-picker-md div[role="navigator"] div:first-child:hover, .gj-picker-md div[role="navigator"] div:last-child:hover {
    color: #fff;
    background: #000;
  }
  
  /* line 209, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .gj-textbox-md:focus, .gj-textbox-md:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }
  
  /* line 217, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .gj-datepicker-md [role="right-icon"], .gj-timepicker-md [role="right-icon"] {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 14px;
    color: #919191;
    margin-right: 15px;
    top: 20px;
    font-size: 18px;
  }
  
  /* line 231, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_bradcam.scss */
  .book_apointment_area .popup_box {
    width: 100% !important;
  }
  