[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

/* line 6, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  color: #666;
  margin-bottom: 0;
}

/* line 17, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
}

/* line 32, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #3CC78F;
  position: absolute;
  top: 4px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 45, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 50, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
}

/* line 58, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group {
  width: 100%;
  border: 1px solid #3CC78F;
  border-radius: 7px;
  padding: 5px 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/* line 64, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group .input-group-text {
  font-size: 16px;
  background: transparent;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* line 71, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group .form-control {
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-bottom: 0;
  border-top: 0;
  border-radius: 0;
  border-right: 0;
  padding: 0 0 0 25px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #000;
}

/* line 82, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group .form-control::placeholder {
  font-size: 16px;
  color: #7A7B7C;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* line 88, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}

/* line 96, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .single_amount .fixed_donat {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 18px 27px;
  border-radius: 7px;
  border: 1px solid #3CC78F;
  display: block;
  overflow: hidden;
}

@media (max-width: 767px) {
  /* line 96, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
  .make_donation_area .donation_form .single_amount .fixed_donat {
    display: block !important;
    margin-top: 15px;
  }
}

/* line 108, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .single_amount .fixed_donat .select_prise h4 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #7A7B7C;
  margin-bottom: 0;
}

/* line 116, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .single_amount .fixed_donat .single_doonate label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7A7B7C;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  /* line 115, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
  .make_donation_area .donation_form .single_amount .fixed_donat .single_doonate {
    width: 33.33%;
    float: left;
    margin-top: 15px;
  }
}

/* line 133, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donate_now_btn {
  margin-top: 50px;
}